*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif

}

html, body{
    height: 100%;
    width: 100%;
    background-color: black;
}
#minicircle {
    width: 10px;
    height: 10px;
    position: fixed;       /* stays on screen while scrolling */
    top: 0;
    left: 0;
    border-radius: 50%;    /* makes it a circle */
    background-color: white; /* visible color */
    z-index: 99999;        /* on top of everything */
    pointer-events: none;   /* lets you click through */
    
    /* Smooth movement */
    transition: transform 0.1s ease-out;
}


#main{
    width: 100%;
}

#hero{
    height: 100vh;
    width: 100%;
    background-color: black;
    color: white;
    position: relative;
}

#nav{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;   
}

#nav a{
    text-decoration: none;
    color: white;
    padding: 20px 40px;
    font-size: 18px;
}

#nav h4{
    font: 20px;
    padding-right: 20px;
}

#heading{
   margin-top: 50px;
}

#heading h1{
   font-size: 9vw;
   font-weight: 900;
   line-height: 1;
   opacity: 0.6;
   margin-left: 20px;

}

#heading #seconedh1{
    margin-left: 140px;
}

#blocktext{
    width: fit-content;

}
#blocktext h5{
    text-align: right;
    font-size: 17px;
}

#small_headings{
    margin-top: 100px;
    padding-right: 30px;
}


#small_headings h5{
   text-align: right;
   font-size: 3vh;
}


#hero_footer{
    padding: 2vh;
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-transform: uppercase;
    position: absolute;
    bottom: 3%;
    width: 100%;
}

#hero_footer a{
    color: white;
    text-emphasis: none;
    text-decoration: none;

  
 
}
#hero_footer .circle{
    border-radius: 50%;
    background-color: #888;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 20px;
    width: 20px;

}
#icon_set{
    display: flex;
    flex-direction: row;
    margin-right: 30px;
}
#seconed{
    width: 100%;
    height: 100vh;
    background-color: black;
    padding-top: 200px;
    padding-right: 10vh;
    color: white;
}
.elem{
    position: relative;
    width: 100%;
    border-top:  1px solid #888;
    padding: 4vw 3vw;
    padding-right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-image: cover
}

.elem h1{
    font-size: 7vw;
    opacity: 0.7;

}
.elemlast {
    border-bottom: 1px solid #888;
}
.elem img {
    position: absolute;
    width: 250px;
    height: 180px;
    object-fit: cover;
    z-index: 999;
    /* Start hidden but available to animate */
    opacity: 0; 
    pointer-events: none; 
    /* Center it initially */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); 
}
#about{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    display: flex;
    background-color: black;
    color: white;
    padding: 10vw 10vw;
    padding-left: 40vw;
    gap: 50px;
    margin-top: 60vh;

}
#about img{
    width: 200px;
    object-fit: cover;
 
}
#text_about a{
   padding: 12px 25px;
   border: 1px solid white;
   border-radius: 100px;
   color: white;
   font-size: 12px;
   text-decoration: none;
}
#text_about p{
    line-height: 1.7;
    margin-bottom: 30px;
}

#subscribe{
    width: 100%;
    height: 50vh;
    background-color: black;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* margin-left: 2vw; */
    padding: 20px 30px;

}

#subscribe h5{
   opacity: 0.6;
   font-size: 2.5vh;
}
#subscribe h3{
    margin: 10px 0;
}
#footer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 30px;
    color: white;
}

#footer{

}
#footer_left{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 20px 30px;
    gap:30px;
    font-size: 3.5vh;
   
}
#footer_right{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 30px;
    gap:50px;
}

#footer_right a{
    color: white;
    text-decoration: none;
}
